# ==========================
# ROS 2
# ==========================
Tyson_MK1/ros2_ws/build/
Tyson_MK1/ros2_ws/install/
Tyson_MK1/ros2_ws/log/

# ==========================
# PlatformIO
# ==========================
**/.pio/

# ==========================
# Python
# ==========================
**/__pycache__/
*.pyc

# ==========================
# Linux Temporary Files
# ==========================
*~
*.swp

# ==========================
# Log Files
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp

# ==========================
# VS Code
# ==========================
.vscode/
